

.homepage{

    &-block{
        display: flex;
        background: url('../../assets/img/home.jpg');
        background-position: center;
        background-size: cover;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
    }
    
    &-title {
        font-size: 60px;
        width: 400px;
        margin-left: 40px;
        line-height: 1;
        font-weight: 300;
        font-family: 'Noto Serif Oriya', serif;;
        color: white;
        text-shadow: 4px 4px 8px  black;
    }


}